<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Homepage</title>
</head>
<body>
    <%- include('./partials/navbar') %>
    <h1>Welcome to HomePage</h1>

    <%= JSON.stringify(blogs) %>
    <%- include('./partials/script') %>
</body>
</html>